<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116236740-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116236740-2');
</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="brown">
<meta name="apple-mobile-web-app-status-bar-style" content="brown">
<% var c = category.indexOf("Events")!==-1?category:category + " Events"; %>

  <title><%= c.toUpperCase() %> | UTSAV</title>
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../../icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../../icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../../icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../../icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="../../icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="../../icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="../../icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../../icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="../../icons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="../../icons/&nbsp;"/>
<meta name="msapplication-TileColor" content="../../icons/#FFFFFF" />
<meta name="msapplication-TileImage" content="../../icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="../../icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="../../icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="../../icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="../../icons/mstile-310x310.png" />

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="../events/css/style.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Roboto+Condensed:700" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet"> 
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>


<style>
.s_list {
  width: 500px;
  margin: 20px auto;
}
/* list styles */
.s_ol {
  list-style: none;

}
.s_ol li {
  font: bold 20pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 10px;
}
.s_ol li p {
  font: 15pt helvetica, arial, sans-serif;
  padding-left: 60px;
}
.s_ol span {
  position: absolute;
  line-height: 25px;
  color:#ffd9a2;
}
  
.rules{
  font-weight: 30;
}
#main_1{
  display:none;
}

.tablinks{
width:300px;
  color:white;
}
.active{

width:300px;
background: linear-gradient(to right, rgba(229, 162, 62, 1), rgba(229, 162, 62, 0));
  color:#111111;

}
main{
  display: none;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


.hd{
     
      color:#ffb445;
      font-family: 'Sigmar One', cursive;

    }


li {
  font-weight: bold;
}

ul {
  list-style-type: none;
}


.button {
  display: inline-block;
  min-width: 200px;

  margin-left:15px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: normal;
  box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

.instagram {
  text-align: center;
  border-radius: 3px;
  padding: 20px;
  color: #A62A2A;
  background: #ffb445;
  transition: all 0.2s ease-out 0s;
}

.gradient {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: auto;
  margin: auto;
  z-index: -1;
  background: radial-gradient(90px circle at top center, rgba(238,88,63,.8) 30%, rgba(255,255,255,0));
  transition: all 0s ease-out 0s;
  transform: translatex(-140px);
  animation: 18s linear 0s infinite move;
}
.more{
    background: #A62A2A;
  color: #ffb445;
}
@keyframes move {
  0% {
    transform: translatex(-140px);
  }
  25% {
    transform: translatex(140px);
    opacity: 0.3;
  }
  50% {
    transform: translatex(140px);
    opacity: 1;
    background: radial-gradient(90px circle at bottom center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
  }
  75% {
    transform: translatex(-140px);
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translatex(-140px);
    background: radial-gradient(90px circle at top center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
  }
}
</style>


<script type="text/javascript">

  function openTab(evt, content_id) {
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(content_id).style.display = "block";
    evt.currentTarget.className += " active";

    closeBar();
} 

window.onload = function(){
    var hash = (window.location.hash).replace('#', '');
    if ((hash.length == 0 || parseInt(hash)<1) || parseInt(hash)><%= events.length %>) {

    }
    else {
      
        closeBar();
         tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

        tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById('main_'+hash).style.display = "block";
    document.getElementById('tab_'+hash).className += " active";

  
    }
}
</script>

</head>

<body>




<img src="https://user-images.githubusercontent.com/11242541/38202593-e5b543f6-36b9-11e8-8893-9f492650f2fc.jpg" id="bg" alt="">

  <input type="checkbox" id="navcheck" role="button" title="menu">
  <label for="navcheck" aria-hidden="true" title="menu">
    <span class="burger">
      <span class="bar">
        <span class="visuallyhidden">Menu</span>
      </span>
    </span>
  </label>
  <nav id="menu">


    
    





<a href="/" class="tablinks" style="background:linear-gradient(to right, rgba(166, 42, 42, 1), rgba(229, 162, 62, 0));">HOME</a>
    <a href="/events"  class="tablinks" style="background:linear-gradient(to right, rgba(166, 42, 42, 1), rgba(229, 162, 62, 0));">EVENTS</a>

                       <% var i=0; events.forEach(function(event){ i++; %>



    <a href="#" onclick="openTab(event, 'main_<%=i%>')" id="tab_<%=i%>" class="tablinks"><%= event.name %></a>
       <% }); %>








  </nav>


    <% var i=0; events.forEach(function(event){ i++; %>
  <main id="main_<%=i%>" class="tabcontent">
    <article class="content">
      <h1><%=event.name%></h1>
      <p><strong><%=event.desc%></strong></p>
          <% if(event.rnr.length){ %>

      <h2 class="hd"><i class="fas fa-align-left"></i> Rules</h2>
    <ol class="s_ol">
           <% var j = 0, num = 0; event.rnr.forEach(function(rule){ j++; if(j<10){ num = "0" + j;} else {num = j; }%>
<li><span><%= num %></span><p><%= rule %></p></li>
       <% }); %>

    </ol>

    <% } %>

    <% if(event.fee.length){ %>

        <h2 class="hd"><i class="fas fa-rupee-sign"></i> Registration Fee</h2>

        <ul>
<% event.fee.forEach(function(f){ %>
<li><%= f %></li>
       <% }); %>
     </ul>

<% } %>
<% if(event.prize.length){ %>


        <h2 class="hd"><i class="fas fa-trophy"></i> Prize</h2>

        <ul>
<% event.prize.forEach(function(f){ %>
<li><%= f %></li>
       <% }); %>
     </ul>

<% } %>

<% if(event.contacts.length){ %>

             <h2 class="hd"><i class="fas fa-address-card"></i> Contact</h2>

        <ul>
<% event.contacts.forEach(function(f){ %>
<li><%= f[0] %>: <%= f[1] %></li>
       <% }); %>
     </ul>

<% } %>

<!-- 
<% if(event.fee[0]){ %>
<a href="/register/<%= event.id %>" class="button instagram"><span class="gradient"></span><strong>Register</strong></a>
<% } %>
 -->

 <% if(event.fee[0]){ %>
<a href="#" class="button instagram"><span class="gradient"></span><strong>Registration Closed!</strong></a>
<% } %>


<% if(events.length>1){ %>



<a href="#" onclick="openBar()" class="button instagram more"><span class="gradient"></span><strong>More <%= c %></strong></a>
<% } %>

    </article>
  </main>

<% }); %>



  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <!-- Bootstrap Js CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>

    $( document ).ready(function() {
   

     var hash = (window.location.hash).replace('#', '');
    if ((hash.length == 0 || parseInt(hash)<1) || parseInt(hash)><%= events.length %>) {
      console.log(parseInt(hash));
       $('#main_1').css('display', 'block');
       $('#tab_1').addClass('active');
      $("#navcheck").prop('checked', true);
}else{
        console.log(parseInt(hash));

  $("#navcheck").prop('checked', false);
}
    
});


    function closeBar() {
      $("#navcheck").prop('checked', false);
    };

     function openBar() {
      $("#navcheck").prop('checked', true);
    };
  </script>


</body>

</html>
