<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116236740-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-116236740-2');
    </script>



    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">


    <meta name="google-site-verification" content="ot9c0HfZT4LSCkU2Ns0zYiKeuCLxwyFhy_EV5uH5eaM" />

    <meta name="Description" content="Utsav is BMSCE's pride, a huge part of its identity, and rightfully so. A product of its times and a legacy of the same, it is one of Bangalore’s biggest and most widely recognised fests. 

At Basavangudi, the heart of Bengaluru, Utsav seeks, more than anything to inspire and uphold the joy of being!
This year, it's all set to get bigger and better!">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#303030">
    <meta name="msapplication-navbutton-color" content="#303030">
    <meta name="apple-mobile-web-app-status-bar-style" content="#303030">

    <title>BMSCE UTSAV 2019 - Alt Reality</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css">


    <link rel="stylesheet" href="css/fontawesome-all.min.css">


    <link rel="stylesheet" href="css/swiper.min.css">


    <link rel="stylesheet" href="style.css">


</head>

<body>
    <div id="cover"></div>

    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="#"> </a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>

                            <ul>
                                <li><a href="/">HOME</a></li>

                                <li><a href="/ticket">EVENTS</a></li>
                                <li><a href="/team">TEAM</a></li>
                                <li><a href="/event-schedule">SCHEDULE</a></li>

                                <li><a href="https://goo.gl/maps/inrvEcmXwsM2" target="_blank"><i
                                            class="fas fa-map-marker-alt"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="hero-content" style="padding-top: 50px;">
        <div class="container">
            <div class="row">

                <div class="col-12 col-lg-10" style="float: none; margin: 0 auto;">
                    <div class='angrytext'>
                        <center><img src="images/logo.png" style="margin: 0 auto; width: 30%;" /></center>
                    </div>
                    <center>
                        <h2 class="main-date">April <strong>12</strong><sup>th</sup>, <strong>13</strong><sup>th</sup> &
                            <strong>14</strong><sup>th</sup>, 2019</h2>
                    </center>


                    <div class="entry-header">


                        <h2>Machi Rediya?!</h2>
                        <div>
                            <center><img src="images/theme.png" style="margin: 20px auto; width: 50%;" /></center>
                        </div>



                    </div>






                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="entry-footer" style="margin: 0 auto;">
                        <a href="/ticket" class="btn">All Events</a>
                        <a href="#flagship" class="btn current">Flagship Events</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="lineup-artists-headline" id="flagship">
                        <div class="entry-title">
                            <p>JUST THE BEST</p>
                            <h2>Flagship Events</h2>
                        </div>

                        <div class="lineup-artists">
                            <div class="lineup-artists-wrap flex flex-wrap">
                                <figure class="featured-image">
                                    <a href="/ticket#western-dance-events_12"> <img src="images/oCgVZnY.jpg" alt="">
                                    </a>
                                </figure>

                                <div class="lineup-artists-description">
                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            Turtle Jam
                                        </div>

                                        <div class="entry-content">
                                            <p>Face off against the best. Emerge from the battle better than the rest.
                                                This multi event dance face-off is unlike anything else. See some of the
                                                best dancers compete against each other and prove their position as the
                                                best in formats such as one-on-one, two-on-two and crew-on-crew.</p>
                                        </div>

                                        <div class="box-link">
                                            <a href="/ticket#western-dance-events_12"><img src="images/box.jpg"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="lineup-artists-wrap flex flex-wrap">
                                <div class="lineup-artists-description">
                                    <figure class="featured-image d-md-none">
                                        <a href="/ticket#informal-events_71"> <img src="images/0qbjduo.jpg" alt=""> </a>
                                    </figure>

                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            Whiplash
                                        </div>

                                        <div class="entry-content">
                                            <p>Need a break from all the competition? Want to just sit back and listen
                                                to some music? Well, here’s Whiplash! Listen to some of the best singers
                                                from the many bands performing in this year’s UTSAV! Wave along the
                                                crowd, listening to your favourite tunes and sing your worries away!
                                            </p>
                                        </div>

                                        <div class="box-link">
                                            <a href="/ticket#informal-events_71"><img src="images/box.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>

                                <figure class="featured-image d-none d-md-block">
                                    <a href="/ticket#informal-events_71"> <img src="images/0qbjduo.jpg" alt=""> </a>
                                </figure>
                            </div>

                            <div class="lineup-artists-wrap flex flex-wrap">
                                <figure class="featured-image">
                                    <a href="/ticket#fashion_43"> <img src="images/aHeC9G9.jpg" alt=""> </a>
                                </figure>

                                <div class="lineup-artists-description">
                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            Fashion Show
                                        </div>

                                        <div class="entry-content">
                                            <p>Have what it takes to walk the talk? Well, prove us right in BMSCE
                                                UTSAV’s Fashion Show! Bigger, Better and Sassier than before, bring your
                                                models and showcase your best looks. May the best team win.</p>
                                        </div>

                                        <div class="box-link">
                                            <a href="/ticket#fashion_43"> <img src="images/box.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="lineup-artists-wrap flex flex-wrap">
                                <div class="lineup-artists-description">
                                    <figure class="featured-image d-md-none">
                                        <a href="/ticket#informal-events_70"> <img src="images/9n64ZAz.jpg" alt=""> </a>
                                    </figure>

                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            EDM Night
                                        </div>

                                        <div class="entry-content">
                                            <p>Feel every rhythm and every beat flow through your veins and jump even
                                                harder when the beat drops at the EDM night of this year’s UTSAV. Get
                                                ready to have your world rocked. See you there! </p>
                                        </div>

                                        <div class="box-link">
                                            <a href="/ticket#informal-events_70"><img src="images/box.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>

                                <figure class="featured-image d-none d-md-block">
                                    <a href="/ticket#informal-events_70"> <img src="images/9n64ZAz.jpg" alt=""> </a>
                                </figure>
                            </div>

                            <div class="lineup-artists-wrap flex flex-wrap">
                                <figure class="featured-image">
                                    <a href="/ticket#mountaineering_54"> <img src="images/Ek3QfLY.jpg" alt=""> </a>
                                </figure>

                                <div class="lineup-artists-description">
                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            Sahas
                                        </div>

                                        <div class="entry-content">
                                            <p>Hope you’re not scared of heights! Show off your bravery and climbing
                                                skills at our Wall Climbing Events, both competitive and
                                                non-competitive. Be Daring. Be Vigilant. And most important of all, Have
                                                Fun! </p>
                                        </div>

                                        <div class="box-link">
                                            <a href="/ticket#mountaineering_54"> <img src="images/box.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="the-complete-lineup">
                        <div class="entry-title">
                            <p>EXPLORE</p>
                            <h2>All Events</h2>
                        </div>

                        <div class="row the-complete-lineup-artists">

                            <% Object.keys(json).forEach(function(category){ %>
                            <div class="col-6 col-md-4 col-lg-3 artist-single">
                                <a href="<%= json[category].link %>">
                                    <figure class="featured-image">

                                        <div> <img src="<%= json[category].img %>" alt=""> </div>






                                        <ul class="slide mobile-category">

                                            <% json[category].events.forEach(function(event){ %>
                                            <li><a href="/ticket#<%= category+"_"+event.id %>"><%= event.name %></a>
                                            </li>
                                            <% }); %>
                                        </ul>


                                    </figure>

                                    <a href="<%= json[category].link %>">
                                        <h2><%= json[category].name %></h2>
                                    </a>
                                </a>
                            </div>


                            <% }); %>


                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="homepage-next-events">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title">
                            <p>THROWBACKS</p>
                            <h2>Gallery</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="next-event-slider-wrap">
                <div class="swiper-container next-event-slider">
                    <div class="swiper-wrapper">

                        <% for(var i=0; i<gallery.pictures.length; i++){ %>
                        <div class="swiper-slide">
                            <div class="next-event-content">
                                <figure class="featured-image">
                                    <img src="<%= gallery.pictures[i] %>" alt="">


                                </figure>
                            </div>
                        </div>

                        <% }%>






                    </div>
                </div>

                <div class="swiper-button-next">
                    <img src="images/button.png" alt="">
                </div>
            </div>
        </div>
        <div class="home-page-last-news">
            <div class="container">
                <div class="header">
                    <div class="entry-title">
                        <h2>Our Sponsors</h2>
                    </div><!-- entry-title -->
                </div><!-- header -->

                <div class="home-page-last-news-wrap">
                    <div style="text-align: center; font-weight: 900;"><h2>Gold Sponsor</h2>
                    <div class="row" style="margin-bottom: 50px;">
                        
                        <div class="col-md-3 "><img src="images/sponsor1.jpg" class="sponsor-item"></div>
                        <div class="col-md-3"><img src="images/sponsor2.jpg" class="sponsor-item"></div>
                        <div class="col-md-3"><img src="images/sponsor3.jpg" class="sponsor-item"></div>
                        <div class="col-md-3"><img src="images/sponsor4.jpg" class="sponsor-item">
                    </div></div>
                    </div><!-- row -->
                    <div style="text-align: center; font-weight: 900;"><h2>Sponsors</h2>
                        <div class="row">
                                <div class="col-md-3"><img src="images/sponsor5.jpg" class="sponsor-item"></div>
                                <div class="col-md-3"><img src="images/sponsor7.jpg" class="sponsor-item"></div>
                                <div class="col-md-3"><img src="images/sponsor7.jpg" class="sponsor-item"></div>
                                <div class="col-md-3"><img src="images/sponsor4.jpg" class="sponsor-item"></div>
                            </div><!-- row --></div>
                </div><!-- home-page-last-news-wrap -->
            </div><!-- container -->
        </div><!-- home-page-last-news -->

    </div>

    <footer class="site-footer">
        <div class="footer-cover-title flex justify-content-center align-items-center">
            <h2>BMSCE</h2>
        </div>

        <div class="footer-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title">
                            <a href="#">UTSAV</a>
                        </div>


                        <div class="copyright-info">

                            BMSCE UTSAV 2019

                        </div>

                        <div class="footer-social">
                            <ul class="flex justify-content-center align-items-center">

                                <li><a href="https://www.facebook.com/utsavbmsce/" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/bmsce_utsav" target="_blank"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/bmsce_utsav/" target="_blank"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC0kwxgOfXDe0KwN0gOm_j0A"
                                        target="_blank"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

    <script type='text/javascript' src='js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/circle-progress.min.js'></script>
    <script type='text/javascript' src='js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>



</body>

</html>