<!-- written by a database admin -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#303030">
<meta name="msapplication-navbutton-color" content="#303030">
<meta name="apple-mobile-web-app-status-bar-style" content="#303030">

    <title>BMSCE UTSAV 2019 - Alt Reality</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/fontawesome-all.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="style.css">


</head>

<body>


    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="#">UTSAV</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <ul>
                                <li><a href="/">HOME</a></li>
                                <li><a href="/schedule">SCHEDULE</a></li>
                                <li><a href="/ticket">EVENTS</a></li>
                                <li><a href="/team">TEAM</a></li>
                                <li><a href="https://goo.gl/maps/inrvEcmXwsM2" target="_blank"><i class="fas fa-map-marker-alt"></i></a></li>
                            </ul><!-- flex -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->

    <div class="hero-content" style="padding-top: 50px;">
        <div class="container">
            <div class="row">
           
                <div class="col-12 col-lg-10" style="float: none; margin: 0 auto;">
                                    <div class='angrytext' >   <center><img src="images/logo.png" style="margin: 0 auto; width: 30%;" /></center></div>  
                                     <center><h2>April <strong>12</strong><sup>th</sup>, <strong>13</strong><sup>th</sup> & <strong>14</strong><sup>th</sup>, 2019</h2></center>
                                    <!-- <center><h2>The Surreal Perspective</h2></center>   -->   

                    <div class="entry-header">
                        
                        <!-- <h2  style="padding-top: 0; padding-bottom: 10" >Machi Rediya?!</h2> -->
                        <h2  style="padding-top: 0; padding-bottom: 10" >Machi Rediya?!</h2>
   <center><h3>The Surreal Perspective</h3></center>   


                    </div><!-- .entry-header -->

                   
                      
                   


                </div><!-- .col-12 -->
            </div><!-- row -->

            <div class="row">
                <div class="col-12">
                    <div class="entry-footer" style="margin: 0 auto;">
                        <a href="/ticket" class="btn">All Events</a>
                        <a href="#flagship" class="btn current">Flagship Events</a>
                    </div>
                </div>
            </div>
        </div><!-- .container -->
    </div><!-- .hero-content -->

    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="lineup-artists-headline" id="flagship">
                        <div class="entry-title">
                            <p>JUST THE BEST</p>
                            <h2>Flagship Events</h2>
                        </div><!-- entry-title -->

                        <div class="lineup-artists">
                            <div class="lineup-artists-wrap flex flex-wrap">
                                <figure class="featured-image">
                                    <a href="#"> <img src="images/black-chick.jpg" alt=""> </a>
                                </figure><!-- featured-image -->

                                <div class="lineup-artists-description">
                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            Turtle Jam
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>Face off against the best. Emerge from the battle better than the rest.
This multi event dance face-off is unlike anything else. See some of the best dancers compete against each other and prove their position as the best in formats such as one-on-one, two-on-two and crew-on-crew.</p>
                                        </div><!-- entry-content -->

                                        <div class="box-link">
                                            <a href=""><img src="images/box.jpg" alt=""></a>
                                        </div><!-- box-link -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->
                            </div><!-- lineup-artists-wrap -->

                            <div class="lineup-artists-wrap flex flex-wrap">
                                <div class="lineup-artists-description">
                                    <figure class="featured-image d-md-none">
                                        <a href="#"> <img src="images/mathew-kane.jpg" alt=""> </a>
                                    </figure><!-- featured-image -->

                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            Whiplash
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>Need a break from all the competition? Want to just sit back and listen to some music? Well, here’s Whiplash! Listen to some of the best singers from the many colleges participating in this year’s UTSAV! Wave along the crowd, listening to your favourite tunes and sing your worries away! </p>
                                        </div><!-- entry-content -->

                                        <div class="box-link">
                                            <a href="#"><img src="images/box.jpg" alt=""></a>
                                        </div><!-- box-link -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->

                                <figure class="featured-image d-none d-md-block">
                                    <a href="#"> <img src="images/mathew-kane.jpg" alt=""> </a>
                                </figure><!-- featured-image -->
                            </div><!-- lineup-artists-wrap -->

                            <div class="lineup-artists-wrap flex flex-wrap">
                                <figure class="featured-image">
                                    <a href="#"> <img src="images/eric-ward.jpg" alt=""> </a>
                                </figure><!-- featured-image -->

                                <div class="lineup-artists-description">
                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                           Fashion Show
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>Have what it takes to walk the talk? Well, prove us right in BMSCE UTSAV’s Fashion Show! Bigger, Better and Sassier than before, bring your models and showcase your best looks. May the best team win.</p>
                                        </div><!-- entry-content -->

                                        <div class="box-link">
                                            <a href="#"> <img src="images/box.jpg" alt=""></a>
                                        </div><!-- box-link -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->
                            </div><!-- lineup-artists-wrap -->

                             <div class="lineup-artists-wrap flex flex-wrap">
                                <div class="lineup-artists-description">
                                    <figure class="featured-image d-md-none">
                                        <a href="#"> <img src="images/mathew-kane.jpg" alt=""> </a>
                                    </figure><!-- featured-image -->

                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            EDM Night
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>Feel every rhythm and every beat flow through your veins and jump even harder when the beat drops at the EDM night of this year’s UTSAV. Get ready to have your world rocked. See you there! </p>
                                        </div><!-- entry-content -->

                                        <div class="box-link">
                                            <a href="#"><img src="images/box.jpg" alt=""></a>
                                        </div><!-- box-link -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->

                                <figure class="featured-image d-none d-md-block">
                                    <a href="#"> <img src="images/mathew-kane.jpg" alt=""> </a>
                                </figure><!-- featured-image -->
                            </div><!-- lineup-artists-wrap -->

                            <div class="lineup-artists-wrap flex flex-wrap">
                                <figure class="featured-image">
                                    <a href="#"> <img src="images/eric-ward.jpg" alt=""> </a>
                                </figure><!-- featured-image -->

                                <div class="lineup-artists-description">
                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                           Sahas
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>Hope you’re not scared of heights! Show off your bravery and climbing skills at our Wall Climbing Events, both competitive and non-competitive. Be Daring. Be Vigilant. And most important of all, Have Fun! </p>
                                        </div><!-- entry-content -->

                                        <div class="box-link">
                                            <a href="#"> <img src="images/box.jpg" alt=""></a>
                                        </div><!-- box-link -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->
                            </div><!-- lineup-artists-wrap -->

                             <div class="lineup-artists-wrap flex flex-wrap">
                                <div class="lineup-artists-description">
                                    <figure class="featured-image d-md-none">
                                        <a href="#"> <img src="images/mathew-kane.jpg" alt=""> </a>
                                    </figure><!-- featured-image -->

                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            Mr. Utsav
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>Have a physique like no other? Pulling Weights and showing it off is like cakewalk for you? We’ve got you covered! Mr. UTSAV provides the bodybuilders to show off their hot bods in multiple weight categories too! Better start pumping iron! </p>
                                        </div><!-- entry-content -->

                                        <div class="box-link">
                                            <a href="#"><img src="images/box.jpg" alt=""></a>
                                        </div><!-- box-link -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->

                                <figure class="featured-image d-none d-md-block">
                                    <a href="#"> <img src="images/mathew-kane.jpg" alt=""> </a>
                                </figure><!-- featured-image -->
                            </div><!-- lineup-artists-wrap -->
                        </div><!-- lineup-artists -->
                    </div><!-- lineup-artists-headline -->
                </div><!-- col-12 -->
            </div><!-- row -->

            <div class="row">
                <div class="col-12">
                    <div class="the-complete-lineup">
                        <div class="entry-title">
                            <p>Explore</p>
                            <h2>All Events</h2>
                        </div><!-- entry-title -->

                        <div class="row the-complete-lineup-artists">

                            <% Object.keys(json).forEach(function(category){ %>
                            <div class="col-6 col-md-4 col-lg-3 artist-single">
                                <a href="<%= json[category].link %>">
                                <figure class="featured-image">
                                    
                                   <div> <img src="<%= json[category].img %>" alt=""> </div>
                                   <!-- <div class="box-link mobile-category"><img src="images/box.jpg" alt=""> </div> -->
                                    <!-- <nav> -->

                                     <!--  <label for="touch"><span>titre</span></label>       -->         
                                      <!-- <input type="checkbox" id="touch">  -->

                                      <ul class="slide mobile-category">

                                          <% json[category].events.forEach(function(event){ %>
                                        <li><a href="/ticket#<%= category+"_"+event.id %>"><%= event.name %></a></li> 
<% }); %>
                                      </ul>

                                
                                </figure><!-- featured-image -->

                                <a href="<%= json[category].link %>"><h2><%= json[category].name %></h2></a>
                            </a>
                            </div><!-- artist-single -->


<% }); %>

                            
                        </div><!-- the-complete-lineup-artists -->

                        <!-- <div class="row justify-content-center">
                            <div class="see-complete-lineup">
                                <div class="entry-footer">
                                    <a href="#" class="btn">See all lineup</a>
                                </div>
                            </div>
                        </div> -->
                    </div><!-- the-complete-lineup -->
                </div><!-- col-12 -->
            </div><!-- row -->
        </div><!-- container -->

        <div class="homepage-next-events">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title">
                            <p>Throwbacks</p>
                            <h2>Gallery</h2>
                        </div><!-- entry-title -->
                    </div><!-- col-12 -->
                </div><!-- row -->
            </div><!-- container -->

            <div class="next-event-slider-wrap">
                <div class="swiper-container next-event-slider">
                    <div class="swiper-wrapper">

            <% for(var i=1; i<=47; i++){ %>
                        <div class="swiper-slide">
                            <div class="next-event-content">
                                <figure class="featured-image">
                                    <img src="images/throwback/tb (<%= i %>).JPG" alt="">

                                   <!--  <div href="#" class="entry-content flex flex-column justify-content-center align-items-center">
                                        <h3>Welcoming Party 2018</h3>
                                        <p>Green Palace, 22 Street, 23-28, Los Angeles California</p>
                                    </div> -->
                                </figure><!-- featured-image -->
                            </div><!-- next-event-content -->
                        </div><!-- swiper-slide" -->

 <% }%>

                      

                 

                      
                    </div><!-- .swiper-wrapper -->
                </div><!-- .swiper-container -->

                <div class="swiper-button-next">
                    <img src="images/button.png" alt="">
                </div><!-- .slider-button -->
            </div><!-- .next-event-slider-wrap -->
        </div><!-- homepage-next-events -->


    </div>

    <footer class="site-footer">
        <div class="footer-cover-title flex justify-content-center align-items-center">
            <h2>BMSCE</h2>
        </div><!-- .site-footer -->

        <div class="footer-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title">
                            <a href="#">UTSAV</a>
                        </div><!-- entry-title -->

                       <!--  <div class="entry-mail">
                            <a href="#">CONTACTUS@BMSCEUTSAV.IN</a>
                        </div> -->

                        <div class="copyright-info">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            BMSCE UTSAV 2019
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div><!-- copyright-info -->

                        <div class="footer-social">
                            <ul class="flex justify-content-center align-items-center">
                            
                                <li><a href="https://www.facebook.com/utsavbmsce/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/bmsce_utsav" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/bmsce_utsav/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC0kwxgOfXDe0KwN0gOm_j0A" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div><!-- footer-social -->
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container -->
        </div><!-- footer-content-wrapper -->
    </footer><!-- site-footer -->



    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/circle-progress.min.js'></script>
    <script type='text/javascript' src='js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>


</body>
</html>
