<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116236740-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116236740-2');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="brown">
<meta name="apple-mobile-web-app-status-bar-style" content="brown">
    <title>TEAM | UTSAV</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="../icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="../icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="../icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="../icons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="../icons/&nbsp;"/>
<meta name="msapplication-TileColor" content="../icons/#FFFFFF" />
<meta name="msapplication-TileImage" content="../icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="../icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="../icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="../icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="../icons/mstile-310x310.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../about-us/css/styles-merged.css">
    <link rel="stylesheet" href="../about-us/css/style.min.css">
    <link rel="stylesheet" href="../about-us/css/custom.css">
    
    <script src="../about-us/js/scripts.min.js"></script>
    <script src="../about-us/js/main.min.js"></script>
    <script src="../about-us/js/custom.js"></script>
    <style type="text/css">
      
      .navbar2{
        border-radius: 0px;
        background-color: brown;
        color: white
        padding:0px;
        margin-bottom: 0px
      }

      a{
        font-weight: 500;
        cursor : pointer;
        color: white;
        text-decoration: none;
        padding : 10px 10px 10px 10px;
      }

      a:hover{
        background-color: white;
        color: brown
      }
    </style>


  </head>
  <body>

      <div class="navbar2 fixed-top">
        <div class="navbar-brand">
        <a href="/">Back to Home</a></div>
      </div>


    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
      </form>
    </div>
    
    <div class="probootstrap-page-wrapper">
    
      <section class="probootstrap-section">
        <div class="container-fluid">
          <div class="row text text-center">
             <div class="col-md-12 col-sm-12">
            <h2>Faculty Core Committee</h2>
             </div>
          </div>
          <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="https://imgur.com/WLVfmIr.jpg" alt="" class="img-responsive">
                </figure>
                <div class="text">
                  <h2>Dr K Mallikharjuna Babu</h2>
                  <p>Principal and Honorary Chairman</p>
                 
                </div>
              </div>
            </div>
            </div>
             



<div class="row justify-content-center">
          <% faculty.forEach(function(person){ %>


              <div class="col-md-4">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="<%= person.img %>" alt="" class="img-responsive">
                </figure>
                <div class="text">
                  <h2><%= person.name %></h2>
                  <p><%= person.desc %></p>
                 
                </div>
              </div>
            </div>

<% }) %>



</div>




          </div>









          

      </section>
      </div>
    
    
    
        <div class="probootstrap-page-wrapper">
    
      <section class="probootstrap-section">
        <div class="container">
          <div class="row text text-center">
             <div class="col-md-12 col-sm-12">
            <h2>Student Core Committee</h2>
             </div>
         </div>
          <% var i =0; core.forEach(function(person){ if(i==0){%><div class="row"><% i++; } %>
              <div class="col-md-3">
              <div class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                  <img src="<%= person.img%>" alt="" class="img-responsive">
                </figure>
                <div class="text">
                  <h3><%= person.name %></h3>
                  <p><h3>Contact : <%= person.number %></h3></p>
                 
                </div>
              </div>
            </div>



        <% if(i==4){i=0;%></div> <%}}); %>


        </div>
      </section>
      </div>
    <!-- END wrapper -->
    


  </body>
</html>