<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
        
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116236740-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116236740-2');
</script>

 <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> 


    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#303030">
<meta name="msapplication-navbutton-color" content="#303030">
<meta name="apple-mobile-web-app-status-bar-style" content="#303030">
    <title>Events | BMSCE UTSAV 2019</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    
    <link rel="stylesheet" href="css/bootstrap.min.css">

    
    <link rel="stylesheet" href="css/fontawesome-all.min.css">

    
    <link rel="stylesheet" href="css/swiper.min.css">

    
    <link rel="stylesheet" href="style.css">

    <style>
</style>
</head>

<body class="tickets-page">
<div id="cover"></div>

    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="/">UTSAV</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>

                            <ul>
                                <li><a href="/">HOME</a></li>
                                
                                <li><a href="/ticket">EVENTS</a></li>
                                <li><a href="/team">TEAM</a></li>
                                <li><a href="/event-schedule">SCHEDULE</a></li>
                                
                                <li><a href="https://goo.gl/maps/inrvEcmXwsM2" target="_blank"><i class="fas fa-map-marker-alt"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">All Events</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="main-content">
            <div class="container">


                <div class="row elements-wrap">
                    <div class="col-12 accordion-and-tabs-wrap">
                                   <div class="entry-header">
                <div class="entry-title">
                    
                    <h6 class="event-pretitle"> </h6>
                    <h3 id="event-name"> </h3>
                </div>
            </div>

                        <div class="entry-content">
                            <div class="row">
                                <div class="col-12 col-lg-5 order-last order-md-first" style="margin-top: 130px; background: #212121; padding-top: 20px;">
                                    <div class="accordion-wrap type-accordion">


                                          






<% Object.keys(json).forEach(function(category){ %>
                                        <h3 id="<%= category %>" info="<%= json[category].name %>"class="entry-title active flex justify-content-between"><%= json[category].name %><span class="arrow-r"></span></h3>

                                        <div class="entry-content">
                                            <p>
                                                <ul>

                                                    <% json[category].events.forEach(function(event){ %>
                                                         <li style="cursor: pointer; " class="event-select" id="<%= category %>_<%= event.id %>" data-info="<%= event.name %>"><%= event.name %></li>
                                                 <% }); %>
                                                   


                                                </ul>


                                            </p>
                                        </div>
<% }); %>
                                        
                                    </div>
                                </div>

                                
                <div class="col-12 col-lg-7 mt-5 mt-lg-0">
                    



<% Object.keys(json).forEach(function(category){ %>

<% json[category].events.forEach(function(event){ %>

<div class="tabs event-tabs" id="tab_<%= category %>_<%= event.id %>">
                        <ul class="tabs-nav flex">
                            <li class="tab-nav flex justify-content-center align-items-center active" data-target="#tab_details">Details</li>
                            <li class="tab-nav flex justify-content-center align-items-center" data-target="#tab_venue">Rules</li>
                     
                        </ul>

                        <div class="tabs-container" >

                            <div id="tab_details" class="tab-content">
                                    

                      

                                  <p style="font-size: 13px;"><%= event.desc %></p>
                                <div class="flex flex-wrap justify-content-between">
                                    <div class="single-event-details">

                                        <% if(event.date) { %>
                                        <div class="single-event-details-row">
                                            <label style="margin-top: 10px;">Date:</label>

                                            <% if(event.date==-1) { %>
                                            <p class="event-details-inner">April 13<sup>th</sup> & April 14<sup>th</sup></p>
                                               <% } else{%>
                                            <p class="event-details-inner">April <%= event.date %><sup>th</sup></p>

                                               <% } %>
                                        </div>
                                        <% } %>

                                        <% if(event.time) { %>

                                        <div class="single-event-details-row">
                                            <label>Time:</label>
                                            <p class="event-details-inner"><%= event.time %></p>
                                        </div>

                                        <% } %>

                                        <% if(event.venue) { %>
                                        <div class="single-event-details-row">
                                            <label>Venue:</label>
                                            <p class="event-details-inner"><%= event.venue %></p>
                                        </div>
                                        <% } %>

                                        <% if(event.fee.length) { %>

                                        <div class="single-event-details-row">
                                            <label>Registration Fee:</label>
                                             <% event.fee.forEach(function(f){ %>
                                            <p class="event-details-inner"><%= f %></p>
                                            <% }); %>
                                        </div>

                                        <% } %>

                                        <% if(event.prize.length) { %>
                                        <div class="single-event-details-row">
                                            <label>Prize:</label>
                                                <% event.prize.forEach(function(p){ %>

                                            <p class="event-details-inner" style="line-height: 3px; margin-top: 10px;"><%= p %></p>

                                            <% }); %>
                                        </div>
                                        <% } %>

                                        <% if(event.contacts.length!=0) { %>

                                        <div class="single-event-details-row">
                                            <label>Contacts:</label>
                                            <% event.contacts.forEach(function(c){ %>

                                            <p class="event-details-inner" style="line-height: 3px; margin-top: 10px;"><%= c[0] %>: <%= c[1] %></p>

                                            <% }); %>
                                        </div>
                                        <% } %>
                                    </div>

                           
                                </div>
                            </div>

                            <div id="tab_venue" class="tab-content">
                               
                              
                               <% if(event.rnr.length != 0) {%>
                                <ol>

                                        <% event.rnr.forEach(function(r){ %>

                                            <li class="rules-individual"><%= r %></li>

                                            <% }); %>
                                    
                                   
                                </ol>
                                <% } else { %>
                                
                                <center><p>N/A</p></center>
                                <% }  %>
                                
                                
                            </div>

                     
                        </div>




                    </div>

                        <% }); %>
   <% }); %>
                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
    </div>

    <footer class="site-footer">
        <div class="footer-cover-title flex justify-content-center align-items-center">
            <h2>BMSCE</h2>
        </div>

        <div class="footer-content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="entry-title">
                            <a href="#">UTSAV</a>
                        </div>

                       <!--  <div class="entry-mail">
                            <a href="#">CONTACTUS@BMSCEUTSAV.IN</a>
                        </div> -->

                        <div class="copyright-info">
                            
                            BMSCE UTSAV 2019

                        </div>

                        <div class="footer-social">
                            <ul class="flex justify-content-center align-items-center">
                            
                                <li><a href="https://www.facebook.com/utsavbmsce/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/bmsce_utsav" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/bmsce_utsav/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC0kwxgOfXDe0KwN0gOm_j0A" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/circle-progress.min.js'></script>
    <script type='text/javascript' src='js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>
</body>
</html>
